/* Navbar.css */

.navbar {
    background-color: #5e5454;
    color: #fff;
    padding: 10px 0;
    font-size: 20px;
  }
  
  .navbar-list {
    list-style: none;
    display: flex;
    justify-content: space-around;
    padding: 0;
  }
  
  .navbar-item {
    margin: 0;
  }
  
  .navbar-link {
    text-decoration: none;
    color: #fff;
    transition: color 0.3s;
  }
  
  .navbar-link:hover {
    color: #ff5733; /* Change color on hover */
  }
  